<ul>
    <% for (let i = 0; i < items.length; i++) { %> 
        <li>
            <a href='/inventory/<%= category %>/<%= items[i].id %> '>
                <%= items[i].item %>
            </a> 
        </li>
    <% } %> 
</ul>