<nav>
    <h1>Restaurant Inventory Manager</h1>

    <hero>
        <div class="icons-container">
            <img src="/images/kitchen.png">
            <img src='/images/fork-and-spoon.png'>
            <img src="/images/food.png">
        </div>
    </hero>

    <% if (currentUser) { %> 
        <h2>Welcome <%= currentUser.username %>! </h2>
        <!-- Create Log Out Button -->
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" id="logout-btn">
        </form>
    <% } %> 
    <a href="/inventory">
        <div class="nav-btn">
            <img src="/images/inventory.png">
            <p>Home Page</p>
        </div>
    </a>
    
    <a href="/inventory/restock">
        <div class="nav-btn">
            <img src="/images/restock.png">
            <p>Restock</p>
        </div>
    </a>
    <a href="/inventory/table">
        <div class="nav-btn">
            <img src="/images/table-view.png">
            <p>Table View</p>
        </div>
    </a>
    
    <a href="/inventory/trash">
        <div class="nav-btn">
            <img src="/images/trash.png">
            <p>Trash</p>
        </div>
    </a>
    <% if (!currentUser) { %> 
        <a href="/" id="register-btn">Register</a>
        <a href="/sessions/login" id="login-btn">Login</a>
    <% } %> 
  
</nav>