<nav>
    <h1>Restaurant Inventory Manager</h1>

    <hero>
        <div class="icons-container">
            <img src="/images/kitchen.png">
            <img src='/images/fork-and-spoon.png'>
            <img src="/images/food.png">
        </div>
    </hero>

    <a href="/inventory">
        <div class="nav-btn">
            <img src="/images/inventory.png">
            <p>Home Page</p>
        </div>
    </a>
    <a href="/inventory/new">
        <div class="nav-btn">
            <img src="/images/new-item.png">
            <p>New Item</p>
        </div>
    </a>
    <a href="/inventory/restock">
        <div class="nav-btn">
            <img src="/images/restock.png">
            <p>Restock</p>
        </div>
    </a>
    <a href="/inventory/table">
        <div class="nav-btn">
            <img src="/images/table-view.png">
            <p>Table View</p>
        </div>
    </a>
    
    <a href="#">Trash</a>
</nav>