<nav>
    <h1>Restaurant Inventory Manager</h1>
    <!-- <hero>
        <div class="icons-container">
            <img src="/images/fork-and-spoon.png">
            <img src="kitchen.png">
            <img src="food.png">
        </div>
        
    </hero> -->
    <a href="/inventory">Home Page</a>
    <a href="/inventory/new">New Item</a>
    <a href="#">Restock</a>
    <a href="#">Table View</a>
    <a href="#">Trash</a>
</nav>