<nav>
    <h1>Restaurant Inventory Manager</h1>
    <hero>
        <div class="icons-container">
            <img src="/images/kitchen.png">
            <img src='/images/fork-and-spoon.png'>
            <img src="/images/food.png">
        </div>
    </hero>
    <a href="/inventory">Home Page</a>
    <a href="/inventory/new">New Item</a>
    <a href="#">Restock</a>
    <a href="#">Table View</a>
    <a href="#">Trash</a>
</nav>