<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs', {currentUser: currentUser}) %>

<div class="main category">
    <%- include('./partials/item.ejs', {items: items, category: category, categories: categories}) %>
</div>  

<%- include('./partials/footer.ejs') %>