@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');@font-face {
    font-family: 'Richardson';
    src: url(RichardsonScriptDEMO.otf) format('opentype');
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;
}
body, 
select,
.create-btn,
.filter-btns button, 
#logout-btn,
.remove-btn, 
.restore-btn {
    font-family: 'Open Sans', sans-serif;

    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(114, 82, 13);
}
h2 {
    text-align: center;
    margin: 0.5rem 0;
}
.back {
    display: flex;
    align-items: center;
    transition: color ease-in-out 200ms;
}
.back:hover {
    color: rgb(114, 82, 13);
}
.back img {
    width: 1.5rem;
    margin: 0 0.5rem 0 0;
}
.main {
    background-color: #fff9dc;
    width: 70%;
    padding: 2rem;
    min-height: 100vh;
    border-left: 8px solid #ffeaab;
}
/* =========================================================== */
/*                      REGISTER/LOGIN                         */
/* =========================================================== */
#register, #login {
    display: flex;
    justify-content: center;
    align-items: center;
}
#register .register-container,
#login .login-container {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    padding: 3rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189))
}
#register .register-container h1,
#login .login-container h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}
#register .register-container form,
#login .login-container form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#register .register-container form label:focus,
#register .register-container form input:focus,
#login .login-container label:focus,
#login .login-container input:focus {
    outline: none;
}

#register .register-container form input,
#login .login-container form input {
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0 0.5rem 0;
    background-color: #ffeaab;
    width: 80%;
}
/* =========================================================== */
/*                                NAV                          */
/* =========================================================== */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    border-right: 12px solid rgb(244, 199, 54);
    background-image: url('../images/texturebg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
nav #logout-btn,
.remove-btn,
.restore-btn {
    background-color: rgb(231, 231, 231);
    border:0.5px solid rgb(116, 116, 116);
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 1rem 0;
}
nav h1 {
    text-align: center;
    line-height: 1.15;
    margin: 2rem;
}
nav hero .icons-container {
    margin: 0 0 2rem 0;
}
nav hero .icons-container img {
    width: 3rem;
    margin: 0 1rem;
}
nav .nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 140px;
    background-color: rgb(255, 228, 141);
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    border-radius: 3px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    transition: transform 200ms ease-in-out;
}
nav .nav-btn:hover {
    transform: translateY(-3px);
}
nav .nav-btn img {
    width: 1.25rem;
    margin: 0 10px 0 0;
    height: auto;
}
nav .nav-btn p {
    width: 100%;
    text-align: center;
}
nav #register-btn {
    margin: 1rem 0 0 0;
}
nav #register-btn, 
nav #login-btn {
    transition: all 0.2s ease-in-out;
}
nav #register-btn:hover, 
nav #login-btn:hover {
    font-size: larger;
}
/* =========================================================== */
/*                               INDEX                         */
/* =========================================================== */
#index {
    display: flex;
    flex-direction: column;
   justify-content: center;
}
#index h2 {
    text-align: left;
}
#index .summary {
    background-color: white;
    border-radius: 3px;
    width: fit-content;
    margin: 1rem 0.5rem 2rem 0.5rem;
    padding: 1rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
}
#index .summary .summary-container {
    display: flex;
    justify-content: space-between;
}
#index .summary .summary-container div {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: 0 0.5rem;
    background-color: #ffeaab;
}
#index .categories {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
}
#index .categories .category-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: fit-content;
    margin: 0.5rem; 
    padding: 0.5rem;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    transition: transform ease-in-out 200ms;
} 
#index .categories .category-card:hover, 
.category .item-card:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 10px 10px rgb(116, 116, 116));
}
#index .categories .category-card .category-img {
    width: 100%;
    height: 200px;
}
#index .categories .category-card .category-img img,
.category .item-card .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* =========================================================== */
/*                             CATEGORY                        */
/* =========================================================== */
.new-btn {
    display: flex;
    width: 125px;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    border-radius: 3px;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: all ease-in-out 100ms;
}
.new-btn:hover {
    background-color:#ffeaab;
}
.new-btn img {
    width: 1.5rem;
    height: 1.5rem;
}
.new-btn p {
    width: 100%; 
    text-align: center;
}

.category .items-container {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
}
.category h1 {
    margin: 2rem 0;
}
.category .new-btn {
    margin-bottom: 1.5rem;
}
.category .item-card {
    width: 250px; 
    height: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    transition: transform ease 200ms;
}
.category .item-card .item-img {
    width: 100%; 
    height: 200px;
}
/* =========================================================== */
/*                               SHOW                          */
/* =========================================================== */
.show-card {
    display: flex; 
    flex-direction: column;
    width: 70%;
    max-width: 450px;
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
}
#show .remove-btn {
    margin: 1rem 0;
}
#show .image {
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#show .image img {
    object-fit: cover;
    width: 100%;
}
/* =========================================================== */
/*                               NEW                           */
/* =========================================================== */
form input:focus, 
select:focus {
    outline: none;
}
#new form#new-form {
    display: flex; 
    flex-direction: column;
    width: 50%;
}
#new form label {
    margin: 0 0 .25rem 0;
}
#new form#new-form input, 
select {
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0 0.5rem 0;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
}
#new form#new-form .create-btn {
    cursor: pointer;
    color: white;
    background-color: rgb(51, 51, 51);
    margin: 1.5rem 0;
    transition: transform ease-in-out 200ms;
}
#new form#new-form .create-btn:hover {
    transform: translateY(-3px);
}
/* =========================================================== */
/*                              RESTOCK                        */
/* =========================================================== */
#restock h2 {
    text-align: left;
}
#restock .restock-container,
#trash .trash-container {
    display: flex;
}
#restock .restock-item,
#trash .deleted-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    width: 200px;
    padding: 1rem;
    margin: 0.5rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
}
#restock .image, 
#trash .image {
    width: 100%;
    height: 150px;
    margin: 0.5rem 0;
}
#restock .image img, 
#trash .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* =========================================================== */
/*                              TABLE                          */
/* =========================================================== */
table {
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table thead {
    background-color: rgb(244, 199, 54);
}
th, td {
    padding: 0.5rem;
}
.filter-btns {
    margin: 1rem 0;
}
.filter-btns button {
    background-color: white;
    border-radius: 3px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 1.25rem;
}
/* =========================================================== */
/*                               TRASH                         */
/* =========================================================== */
#trash .trash-container .deleted-item form .restore-btn {
    margin: 1rem 0 0 0;
}
#trash .trash-container .deleted-item form input{
    margin: 0;
}