@font-face {
    font-family: 'Richardson';
    src: url(RichardsonScriptDEMO.otf) format('opentype');
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;
    
}
body, 
select,
.create-btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: 'Richardson';
    font-size: 5rem;
    font-weight: lighter;
}
h2 {
    text-align: center;
    margin: 0.5rem 0;
}
.back {
    display: flex;
    align-items: center;
    transition: color ease-in-out 200ms;
}
.back:hover {
    color: rgb(234, 133, 0);
}
.back img {
    width: 1.5rem;
    margin: 0 0.5rem 0 0;
}
.main {
    background-color: #fff9dc;
    width: 70%;
    padding: 2rem;
    min-height: 100vh;
    border-left: 8px solid #ffeaab;
}
/* =========================================================== */
/*                                NAV                          */
/* =========================================================== */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    border-right: 12px solid rgb(244, 199, 54);;
}
nav h1 {
    text-align: center;
    line-height: 1.15;
    margin: 2rem;
}
nav hero .icons-container {
    margin: 0 0 2rem 0;
}
nav hero .icons-container img {
    width: 3rem;
    margin: 0 1rem;
}
nav .nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 140px;
    background-color: rgb(255, 228, 141);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    transition: transform 200ms ease-in-out;
}
nav .nav-btn:hover {
    transform: translateY(-5px);
}
nav .nav-btn img {
    width: 2rem;
    margin: 0 10px 0 0;
    height: auto;
}
/* =========================================================== */
/*                               INDEX                         */
/* =========================================================== */
#index {
    display: flex;
    flex-direction: column;
}
#index h2 {
    text-align: left;
}
#index .summary {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin: 1rem 0.5rem 2rem 0.5rem;
    padding: 1rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189))
}
#index .categories {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
}
#index .categories .category-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin: 0.5rem; 
    padding: 0.5rem;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    transition: transform ease-in-out 200ms;
} 
#index .categories .category-card:hover, 
.category .item-card:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 10px 10px rgb(116, 116, 116));
}
#index .categories .category-card .category-img {
    width: 100%;
    height: 200px;
}
#index .categories .category-card .category-img img,
.category .item-card .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* =========================================================== */
/*                             CATEGORY                        */
/* =========================================================== */
.category .items-container {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
}
.category .item-card {
    width: 250px; 
    height: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
    transition: transform ease 200ms;
}
.category .item-card .item-img {
    width: 100%; 
    height: 200px;
}
/* =========================================================== */
/*                               SHOW                          */
/* =========================================================== */
.show-card {
    display: flex; 
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    filter: drop-shadow(0 1px 5px rgb(189, 189, 189));
}
#show .image {
    margin: 0.5rem 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#show .image img {
    object-fit: cover;
    width: 100%;
}
/* =========================================================== */
/*                               NEW                           */
/* =========================================================== */
form input:focus, 
select:focus {
    outline: none;
}

#new form#new-form {
    display: flex; 
    flex-direction: column;
    width: 50%;
}
#new form#new-form input, 
select {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
}
#new form#new-form .create-btn {
    cursor: pointer;
    color: white;
    background-color: rgb(51, 51, 51);
    margin: 1.5rem 0;
    transition: transform ease-in-out 200ms;
}
#new form#new-form .create-btn:hover {
    transform: translateY(-5px);
}