<%- include('../partials/header.ejs') %>


<div class="main" id="login">
    <h1>Restaurant Inventory Manager</h1>
    <hero>
        <div class="icons-container">
            <img src="/images/kitchen.png">
            <img src='/images/fork-and-spoon.png'>
            <img src="/images/food.png">
        </div>
    </hero>

    <div class="login-container">
        <h1>Log In</h1>
        <form action="/sessions/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Sign In" style="background-color: #f4c736; cursor: pointer; margin-top: 1rem">
        </form>

        <p>Need to create an account?</p>
        <a href="/" >Click here to register</a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>