<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="main" id="register">

    <h1>Register</h1>
    <form action="/" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Register">
    </form>
    <p>Already have an account?<a href="/sessions/login">Click here to sign in.</a></p>
</div>

<%- include('../partials/footer.ejs') %>